#tit{
	color: blue;
	border: solid 2px #ADD8E6;
	padding:1px 1px 1px 1px;
	line-height: 150%;
	font-size:14px;
	text-align: center;
}
.text span{
	color: black;
	display: inline-block;
	margin-left: 130px;
	margin-right: 40px;
}
.bod h3, p, ul{
	margin-left: 20px;
	margin-right: 20px;
	text-align: justify;
	line-height: 1.5;
}